.env
/vendor
/etc/key.txt
/.idea
/.vscode
/src/public/assets/
/src/public/css
/src/public/imgs
*.cache
*.log
src/resources/views/errors/fatal.view.php
src/resources/views/index.view.php
src/resources/views/test.view.php
src/resources/views/index.view.php
