@import "../vendor/css/bootstrap/bootstrap.css";

:root {
    --background-color-light: #fff;
    --background-color-dark: #202124;
    --font-color-light: #202124;
    --font-color-dark: #fff;
}

body {
    --height: 240px;
    --width: 200px;
    height: 90vh;
    overflow: hidden;
    background-color: var(--background-color-light);
}

.link {
    color: var(--font-color-light);
    border: 10px #0a53be;
}

.link:hover {
    transform: scale(1.3);
    transition-duration: 300ms;
}

.me {
    height: var(--height);
    width: var(--width);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
    }

    .main-content {
        background-color: var(--background-color-dark);
    }

    h1 {
        color: var(--font-color-dark);
    }

    .lead {
        color: var(--font-color-dark);
    }

    .link {
        color: var(--font-color-dark);
    }

    .link:hover {
        color: rgb(29, 155, 240);
        transition-duration: 300ms;
    }
}